DEBUG=True
SECRET_KEY=your-secret-key-here

POSTGRES_DB=todo
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_pass
POSTGRES_HOST=meu-postgres
POSTGRES_PORT=5432

ALLOWED_HOSTS=localhost,127.0.0.1